# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [4]:
! pip install pandas

Requirement already satisfied: pandas in /Volumes/MacintoshHD/Users/veronicalarroy/Desktop/anaconda3/envs/IH_BCN_DAFT/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /Volumes/MacintoshHD/Users/veronicalarroy/Desktop/anaconda3/envs/IH_BCN_DAFT/lib/python3.11/site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Volumes/MacintoshHD/Users/veronicalarroy/Desktop/anaconda3/envs/IH_BCN_DAFT/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /Volumes/MacintoshHD/Users/veronicalarroy/Desktop/anaconda3/envs/IH_BCN_DAFT/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Volumes/MacintoshHD/Users/veronicalarroy/Desktop/anaconda3/envs/IH_BCN_DAFT/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Volumes/MacintoshHD/Users/veronicalarroy/Desktop/anaconda3/envs/IH_BCN_DAFT/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("file1.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [8]:
#1.1 Standardize the column names on the dataframe.
df.rename(columns={"Customer": "customer",
                   "ST": "state",
                   "GENDER": "gender",
                   "Education": "education",
                   "Customer Lifetime Value": "customer_lifetime_value",
                   "Income": "income",
                   "Monthly Premium Auto": "monthly_premium_auto",
                   "Number of Open Complaints": "number_of_open_complaints",
                   "Policy Type": "policy_type",
                   "Vehicle Class": "vehicle_class",
                   "Total Claim Amount": "total_claim_amount",},
                   inplace = True
                   )
df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [9]:
def gender_consistency(genders):
    if genders == "M":
        return "M"
    if genders == "Male":
        return "M"
    if genders == "F":
        return "F"
    if genders == "Femal":
        return "F"
    if genders == "female":
        return "F"
    else:
        return np.nan
df["gender"].apply(gender_consistency).value_counts()

gender
F    502
M    452
Name: count, dtype: int64

In [10]:
def state_consistency(states):
    if states == "AZ":
        return states.replace("AZ", "Arizona")
    if states == "WA":
        return states.replace("WA", "Washington")
    if states == "Cali":
        return states.replace("Cali", "California")
    else:
        return np.nan

df["state"].apply(state_consistency).value_counts()

state
California    120
Washington     30
Arizona        25
Name: count, dtype: int64

In [11]:
def education_consistency(title):
    if title == "Bachelors":
        return title.replace("Bachelors", "Bachelor")
    if title == "College":
        return title.replace("College", "Bachelor")
    else:
        return np.nan

df["education"].apply(education_consistency).value_counts()

education
Bachelor    320
Name: count, dtype: int64

In [12]:
def vehicle_class_consistency(vehicle): # In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*
    if vehicle == "Sports Car":
        return vehicle.replace("Sports Vehicle", "Luxury")
    if vehicle == "Luxury SUV":
        return vehicle.replace("Luxury SUV", "Luxury")
    if vehicle == "Luxury Car":
        return vehicle.replace("Luxury Car", "Luxury")

df["vehicle_class"].apply(vehicle_class_consistency).value_counts()

vehicle_class
Sports Car    57
Luxury        34
Name: count, dtype: int64

In [13]:
#Deleting the % in customer_life_value:
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.rstrip('%').astype('float') / 100.0

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [14]:
# Formatting the data types of the columns:
df["customer_lifetime_value"] = df["customer_lifetime_value"].astype(float).round(2) #Formatting the CLV from string to float and rounding to 2 decimals.

In [15]:
def complaints_cleaner(complain):
    complain = str(complain)
    parts = complain.split('/')
    if len(parts) == 3:
        return parts[1]
    return complain

df["number_of_open_complaints"] = df["number_of_open_complaints"].astype(str).apply(complaints_cleaner)

In [16]:
df["number_of_open_complaints"]

0         0
1         0
2         0
3         0
4         0
       ...
4003    nan
4004    nan
4005    nan
4006    nan
4007    nan
Name: number_of_open_complaints, Length: 4008, dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   float64
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  4008 non-null   object
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(4), object(7)
memory usage: 344.6+ KB

In [18]:
#4.1 Identify any columns with null or missing  values. Identify how many null values each column has.
missing_values = pd.isnull(df) #identifying columns with missing values.
print(missing_values.sum()) #by doing this, we can count the missing values in each column.

customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints       0
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [19]:
#4.2 Decide on a strategy for handling the null values. 
#By the information I get when I do df.info(), I see that there are many columns that have 1071 non-null counts. The total rows are 4008.
#My strategy will be to delete those rows that contain null values in ALL coulmns and after this, I will work on the rest of the nulls from the 11 columns. 

#Deleting rows that contain null values in all columns:
df.dropna(axis=0, how="all", inplace=True)

df.info() #after doing the info() function, I see that 9 out of 11 columns have 1071 non-null values, which is the number of entries.
#Which is good, because it means that now, I onely need to take care of the "gender" and the "customer_lifetime_value" columns.

#Let's check the "customer_lifetime_value" column. The count() function tells me that there are only 3 null values. Since my sample is 1071, I will delete these 3 rows.
df.dropna(axis=0, how="any", inplace = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   float64
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  4008 non-null   object
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(4), object(7)
memory usage: 344.6+ KB

In [20]:
#Let's check the "gender" column.
df["gender"].apply(gender_consistency).value_counts()

gender
F    501
M    451
Name: count, dtype: int64

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [21]:
df.drop_duplicates(keep="first", inplace=True)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [22]:
def cleaning_formating(genders, states, title, vehicle, complain, clv):
    if genders == "M":
        return "M"
    if genders == "Male":
        return "M"
    if genders == "F":
        return "F"
    if genders == "Femal":
        return "F"
    if genders == "female":
        return "F"
    else:
        return np.nan
    
    if states == "AZ":
        return states.replace("AZ", "Arizona")
    if states == "WA":
        return states.replace("WA", "Washington")
    if states == "Cali":
        return states.replace("Cali", "California")
    else:
        return np.nan
    
    if title == "Bachelors":
        return title.replace("Bachelors", "Bachelor")
    if title == "College":
        return title.replace("College", "Bachelor")
    else:
        return np.nan

    if vehicle == "Sports Car":
        return vehicle.replace("Sports Vehicle", "Luxury")
    if vehicle == "Luxury SUV":
        return vehicle.replace("Luxury SUV", "Luxury")
    if vehicle == "Luxury Car":
        return vehicle.replace("Luxury Car", "Luxury")
    
    complain = str(complain)
    parts = complain.split('/')
    if len(parts) == 3:
        return parts[1]
    return complain

    return df["customer_lifetime_value"].astype(float).round(2)

    return df.dropna(axis=0, how="all", inplace=True)

    return df.drop_duplicates(keep="first", inplace=True)

In [23]:
from functions1 import cleaning_formating_f as cf
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [30]:
#CH3.1 - Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
statistics = df[["customer_lifetime_value", "total_claim_amount"]].describe().round(2)
print(statistics)

       customer_lifetime_value  total_claim_amount
count                   952.00              952.00
mean                   7942.01              405.00
std                    6258.79              299.24
min                    2004.35                0.38
25%                    4117.84              196.72
50%                    5885.75              350.40
75%                    9037.51              534.00
max                   44795.47             2893.24

In [36]:
#CH3.2 Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
quantiles = df[["total_claim_amount", "customer_lifetime_value"]].quantile([0.75, 0.25]).round(2)

retention_profitability = df[(df['total_claim_amount'] > quantiles.loc[0.75, 'total_claim_amount']) & (df['customer_lifetime_value'] < quantiles.loc[0.25, 'customer_lifetime_value'])]

retention_profitability.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
140,DS81757,Oregon,M,College,2470.12,0.0,74.0,0,Personal Auto,Two-Door Car,721.242206
158,KA61892,Arizona,M,College,3873.65,28142.0,105.0,0,Personal Auto,Sports Car,701.708239
160,ND87334,California,M,High School or Below,2287.60,0.0,63.0,0,Corporate Auto,Two-Door Car,679.368378
170,TS19868,California,M,College,2413.14,27501.0,63.0,0,Personal Auto,Four-Door Car,542.319401
179,HH90090,California,F,Bachelor,4076.63,29549.0,104.0,0,Personal Auto,Sports Car,710.433775

In [ ]:
#CH3.3 - Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

#ALREADY DONE IN CH3.1